.contactBox{
    display: flex;
    justify-content: space-between;
}

#contact iframe{
    width: 750px;
    height: 550px;
}

.contactDesc{
    flex-grow: 1;
    margin: 100px 50px 50px 50px;
    font-size: 17px;
}

.contactDesc i{
    margin: 0 15px 0 0;
}

#contact h3{
    padding: 20px 0 20px 20px;
}