.header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-basis: 8vh;
    background-color: tomato;
    padding: 10px 10px 10px 10px;
}

.header a{
    display: block;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: .2s;
}

.header a:hover{
    font-size: 20px;
    font-weight: bold;
}