.header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-basis: 7vh;
    background-color: white;
    padding: 10px 10px 10px 10px;
    min-height: fit-content;
}

.header a{
    display: block;
    color: #545454;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: .2s;
}

.header a:hover{
    font-size: 20px;
    font-weight: bold;
}

a img{
    flex-grow: 1;
}