#specs{
    background-image: url('../img/specs.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 100% auto;
    margin-top: 20px;
}

.specsBox{
    display: flex;
    padding-top: 40px;
}

.specsList{
    background-color:#DFDFDF;
    padding: 40px 20px;
    margin: 40px 10px;
    line-height: 2.2;
}
.dueDilligence{
    width: 60%;
}

.dueDilligence .specsTitle{
    margin-left: 35%;
}
.businessEntities .specsTitle{
    margin-left: 20%;
}

.specsList ul{
    list-style-type: disc;
    padding-left: 30px;
}